/* Elastislide Style */
.es-carousel-wrapper{
	background: #FFF;
	position:relative;
		padding:0px 0px;
}
.es-carousel{
	overflow:hidden;
	background:#FFF;

}
.es-carousel ul{
	display:none;
	
}
.es-carousel ul li{

	float:left;
	display:block;
	position:relative;
	background:url(../images/gallery-icon.png) scroll transparent no-repeat center center;
	background-color:  #000;
	overflow:hidden;
	margin-bottom:10px;
}
.es-carousel span {position:absolute; bottom:0px; left:0px; background:rgba(0, 0, 0, 0.7); font-size:0.8em;  font-weight:700; color:#FFF; padding:5px 5px; width:95%;}

.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;

}
.es-carousel ul li a img:hover {}
.es-nav span{
	position:absolute;
	top:45%;
	left:12px;
	border: none;
	width: 35px;
	height: 32px;
	color: white;
	background-color: #000;
	background-image: url(../images/search-arrow.png);
	background-position: -35px 0px;
	background-repeat: no-repeat;
	text-indent:-99999px;
	cursor:pointer;

}
.es-nav span.es-nav-next{
	right:-0px;
	left:auto;
}
.es-nav span.es-nav-next:hover{

	background-color:#f9ba00; background-position:0px 0px;
}
.es-nav span.es-nav-prev{
	background-position: -35px -30px;
	left:0px;
}
.es-nav span.es-nav-prev:hover{
	background-color:#f9ba00; background-position:0px -30px;
}
.es-nav span:hover{
	opacity:1.0;
}

	.es-carousel ul li a img {position:relative;}
	.es-carousel span {z-index:9;}
	.es-carousel ul li a {  -webkit-transform: scale(1);	moz-transition:  .3s ease-out; -webkit-transition:  .3s ease-out; transition:  .3s ease-out;}
	.es-carousel ul li a:hover {opacity:0.4; }