
@media only screen and (max-width: 768px) { /* target= mobile 480 wide */

	/*==== Main Containers __target= mobile__ =======*/
		
		.omc-under-480 {display:block;}
		
		.omc-over-480 {display:block;}
	  
		#omc-container { width:460px; margin:auto; padding:0px 0px 20px 20px;}			
			
			section#omc-main {width:100%; float:left;  }
				
				section#omc-sidebar {width:100%; float:left; }
				
				.omc-half-width-category {width:206px; float:left; margin:0px 27px 30px 0px; }

				.omc-full-width-category {width:440px; float:left; margin:0px 20px 30px 0px; }
			
			#omc-container div:nth-child(4) {margin-right:0px;}
			
			nav#omc-main-navigation {margin-bottom:14px;}
		
		div#omc-inner-footer {margin:auto; width:90%; padding:0px 5%;}
		
		.omc-widget {width:440px; margin-bottom:11px;}
		
		article.omc-half-width-post.following h3 {font-size:1.1em;}
			
			article.omc-half-width-post.following h3 em {font-size:1.08333em;}
			
		article.omc-half-width-post.leading h2 {font-size:1.16667em;}		
		
		div.omc-resize-290 {width:205px; background:url(../images/preloader.gif) scroll transparent no-repeat center center;}
		
		div.omc-resize-290-40margin {width:200px; margin-right:30px;}
		
		.omc-quarter-width-category {width: 200px; margin-right: 28px}
		
		div#omc-inner-footer {margin: auto; width: 95%; padding: 20px 0px 0px 5%;}
		
		div.omc-footer-widget-column {width: 95%; float: left; margin-right: 5%;}
		
		footer#omc-boxed {width:480px; margin:auto;}
		
		.omc-copyright-area {width:440px; padding: 18px 20px 10px 20px}
		
	/*==== Media & Content __target= mobile__  =======*/
		
		h1.omc-half-width-label {font-size:1.16667em;}
		
			h1.omc-half-width-label a {padding: 4px 16px;}
		
		span.omc-small-video-icon {display:none;}
		
		article.omc-half-width-post.following img {display:none;}
		
		.omc-resize-620 {width:440px; }
		
		img#omc-logo {display:block; margin:0px auto}
		
		nav#omc-main-navigation ul li a {display:none}

		article.omc-featured-post {height:auto;}
		
		div.omc-featured-overlay p {display:none;}
			
		ol.flex-control-nav {display:none;}
		
		.flex-direction-nav li a {bottom:106px;}
		
		.flexslider {width:100%; margin-bottom:20px;}
		
		#back-top {visibility:hidden; opacity:0;} 
		
		.flex-direction-nav li .prev {left:-2px;}
		
		.flex-direction-nav li .next {right:0px;}
		
		.es-carousel span {width:92%; height:27px;}
		
		.es-nav span {top:33%}
		
		.flexslider {width:440px; height: 248px; margin-bottom:0px;}

		div.omc-category-block a {font-size: 1em; padding: 2px 4px;}
		
		.tabbertabs {width:440px;}
		
		nav#omc-main-navigation {margin-bottom:30px; margin-top:10px;}

		a#omc-logo {display: block; text-align: center; margin:10px 0px 0px 0px;}
		
		span.omc-blog-two-stars-under {top:95px; right:1px;}
		
		.flex-container.omc-resize-620 {margin-bottom:30px; margin-top:-10px}
		
		div.omc-featured-overlay h1 {font-weight:700; font-size:1.33333333em}
		
		.flickr_badge_image {width:76px; height:81px; margin-right:5%; margin-bottom:20px;}	 
		
		.flickr_badge_image img {width:76px; height:76px;}
		
		.omc-copyright-left {float:none; text-align:center;}
		
		.omc-copyright-right {float:none; text-align:center;}	
			
		.omc-copyright-right ul {list-style-type:none; margin-top:0px;margin: auto; text-align: center; display: inline-block}
				
	/*==== Single Post ====*/
	
		.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {width: 99% !important;}
				
		article#omc-full-article h1 {font-size:2.2em;}	
		
		.one_half, .one_third, .two_third, .three_fourth, .one_fourth {	width:100%; margin-right:0px;}
		
		div.omc-related-posts {width:458px}
		
		.gallery-to-slideshow ul.flex-direction-nav li a  {top:85px;}

		div#omc-review-wrapper.omc-review-placement-t {width:47%; margin-right:20px;}
		
		div#omc-review-wrapper.omc-review-placement-t div#omc-short-summary { width:100%;float:left;}	
		
		div#omc-review-wrapper.omc-review-placement-t div#omc-criteria-final-score {text-align:center; position:relative; height:80px; width:100%; padding:7px 0px 0px 0px; float:left; background:#111;}
		
		div#omc-review-wrapper.omc-review-placement-t div.omc-final-score-stars div#omc-criteria-final-score {height:100px; }

		div#omc-review-wrapper.omc-review-placement-b div#omc-short-summary { width:70%;}	
		
		span.omc-half-width-icon {top:33px; left:78px}
		
		img.omc-image-blog-one {width:28%; margin: 4px 5% 1px 0px}
		
		a.omc-social-media-icon.large {width:138px;}
		
		.omc-quarter-width-category { height: 179px;}		
		
		nav#omc-main-navigation ul li#omc-header-search  {display:none;}
		
		nav#omc-main-navigation ul li#omc-header-search-mobi  {display:block;}
		
		input.omc-header-mobi-search-input-box {left:233px; width:189px; top:17px; position:absolute; border:1px solid #aaa; padding: 0px 8px 0px 8px; -webkit-appearance:none; border-radius:0px; color:#333; background-position:right;}
		
		
		nav#omc-main-navigation select {width:205px; height:32px; margin-bottom:0px; -webkit-appearance: none; border-radius:0px; background:url(../images/webkit-select.png) scroll transparent no-repeat top right; padding:0px 0px 0px 8px; background-color:#333; color:#FFF; font-weight:bold; border:none;}
		
		.tabbertabs {width:97%;}
		
		a.omc-mobile-back-to-top {width:87%; display:block; padding:20px; font-size:1.5em; font-weight:700; color:#FFF; background:#f9ba00; text-align:center; margin-bottom:40px; border-radius:4px;}
			
		a.omc-mobile-back-to-top:hover {background:#333;}	
			
		a.omc-mobile-back-to-top.omc-bottom-b-t-t {margin-bottom:10px; margin-top:-20px;}
		
		.footer-logo {margin: 7px 0px 8px 0px;}

		article#omc-full-article > p {font-size:1.15em; line-height:22px;}	

		article#omc-full-article {width:95%}
		
		#omc-author-page-image {float:left; margin:4px 14px 3px 0px; width: 89px;}
	
		#omc-inner-placeholder {height:247px}
	
		span.omc-blog2-icon {top: 40px; left: 36px;}
		
		span.omc-big-video-icon {position: absolute; top: 30%;  left: 42%;}
		
		span.omc-user-review-description em {display:none;}
		
}
